.chat-main__content
  .chat-main__content__name
    = message.user.name
  .chat-main__content__date
    = message.created_at
  .chat-main__content__message
    - if message.body.present?
      %p.chat-main__content__message__word
        = message.body
    = image_tag message.image, class: 'message__image' if message.image.present?

