.side__bottom-info
  sample
%p.g_name
  sample

/ .side__bottom
/     - current_user.groups.each do |group|
/       = link_to group_messages_path(group) do
/     .side__bottom-info
/       = group.name
/     %p.g_name
/       メッセージはまだありません。
