.header
  .topic チャットグループが生成されました。

.side
  .side__data
    .side__data__user samplename
    %a.fa-edit{:href => ""}
    %a.fa-cogs{:href => ""}

  .side__bottom
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample



.chatbox
  .chatbox__top
    .namebox sample-name
    %a.edit.groups{:href => ""}  edit
    %p.memberbox MEMBER:sample

  .chatbox__main
    .box1
      .tname  sample12
      .date  2018/5/9
      %p.tweet samplea
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet sampleb
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet samplec
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet sampled

  .chatbox__footer
    .chatbox__footer__sendb
      .chatbox__footer__sendbox__message
        type a message
        %a.fa.fa-image{:href => ""}
    %a.send-btn{:href => ""} send
