.header
  .topic チャットグループが生成されました。

.side
  .side__data
    .side__data__user samplename
    = link_to '' do
      %i.fa-edit
    = link_to '' do
      %i.fa-cogs

  .side__bottom
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample



.chatbox
  .chatbox__top
    .namebox sample-name
    %input.edit{:type => "submit", :value => "edit"}
    %p.memberbox MEMBER:sample

  .chatbox__main
    .box1
      .tname  sample12
      .date  2018/5/9
      %p.tweet samplea
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet sampleb
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet samplec
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet sampled

  .chatbox__footer
    %input.box{:type => "text", :placeholder => "type a message"}
    %label.chat-image
      %i.fa.fa-image

    %input.send-button{:type => "submit", :value => "send"}
