.header
  .topic チャットグループが生成されました。

.side
  = render partial: "side"

.chat
  .chat-top
    .chat-top__name sample-name
    %input.edit{type: "submit", value: "edit"}
    %p.member MEMBER:sample

  .chat-main
    - 4.times do
      = render partial: "tweet"

  .chat-footer
    %form.chatbox__footer-form
      %input.text{type: "text", placeholder: "type a message"}
      %label.chat-image
        %i.fa.fa-image
      %input.send-button{type: "submit", value: "send"}
