.header
  .topic チャットグループが生成されました。

.side
  .side__data
    .side__data__user samplename
    = link_to '' do
      %i.fa-edit
    = link_to '' do
      %i.fa-cogs

  .side__bottom
    .side__bottom-info sample
    %p.g_name sample
    .side__bottom-info sample
    %p.g_name sample
    .side__bottom-info sample
    %p.g_name sample
    .side__bottom-info sample
    %p.g_name sample



.chat
  .chat-top
    .chat-top__name sample-name
    %input.edit{:type => "submit", :value => "edit"}
    %p.member MEMBER:sample

  .chat-main
    .chat-main__content
      .chat-main__content__name  sample12
      .chat-main__content__date  2018/5/9
      %p.tweet samplea
    .chat-main__content
      .chat-main__content__name  sample15
      .chat-main__content__date  2018/5/9
      %p.tweet sampleb
    .chat-main__content
      .chat-main__content__name  sample15
      .chat-main__content__date  2018/5/9
      %p.tweet samplec
    .chat-main__content
      .chat-main__content__name  sample15
      .chat-main__content__date  2018/5/9
      %p.tweet sampled

  .chat-footer
    %form.chatbox__footer-form
      %input.text{:type => "text", :placeholder => "type a message"}
      %label.chat-image
        %i.fa.fa-image
      %input.send-button{:type => "submit", :value => "send"}
