.header
  .topic チャットグループが生成されました。

.side
  .side__data
    .side__data__user samplename
    .fa-edit
    .fa-cogs

  .side__bottom
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample
    .side__bottom__info sample
    %p.g_name sample



.chatbox
  .chatbox__top
    .namebox sample-name
    %a.edit.groups  edit
    %p.memberbox MEMBER:sample

  .chatbox__main
    .box1
      .tname  sample12
      .date  2018/5/9
      %p.tweet samplea
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet sampleb
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet samplec
    .box
      .tname  sample15
      .date  2018/5/9
      %p.tweet sampled

  .chatbox__footer
    .chatbox__footer__sendbox
      .chatbox__footer__sendbox__message
        type a message
        .fa.fa-image
    .chatbox__footer__send send
