@import "./variable.scss";

@mixin user-style() {
  font-size: 16px;
  font-style: bold;
  list-style: none;
  color: $w-color;
  padding: 35px 20px;
  position: relative;
  display: inline-block;
}

@mixin icon() {
  font-family: FontAwesome ;
  color: $w-color ;
  position: relative;
  display: inline-block;
}

@mixin info-style() {
  padding: 20px 20px 5px 20px;
  font-size: 15px;
  line-height: 5px;
  color: $w-color ;
}

@mixin g_name-style() {
  padding: 0 20px 0 20px;
  font-size: 11px;
  padding-bottom: 40px;
  color: $w-color ;
}

@mixin tweet-style() {
  font-size: 14px;
  margin-top: 10px;
  float:left;
  clear: both;
  padding-left: 40px;
}

@mixin content-style() {
  height: 100px;
  margin: 20px 0;
}

@mixin name-style() {
  font-size: 16px;
  padding-left: 40px;
  float: left;
}

@mixin date-style() {
  padding-left: 10px;
  font-size: 12px;
  color: #999999;
  float: left;
}

@mixin tweet-style() {
  font-size: 14px;
  margin-top: 10px;
  float:left;
  clear: both;
  padding-left: 40px;
}
