@import "./variable.scss";

@mixin userstyle() {
  font-size: 16px;
  font-style: bold;
  list-style: none;
  color: $w-color;
  padding: 35px 20px;
  position: relative;
  display: inline-block;
}

@mixin icon() {
  font-family: FontAwesome ;
  color: $w-color ;
  position: relative;
  display: inline-block;
}

@mixin infostyle() {
  padding: 20px 20px 5px 20px;
  font-size: 15px;
  line-height: 5px;
  color: $w-color ;
}

@mixin g_namestyle() {
  padding: 0 20px 0 20px;
  font-size: 11px;
  padding-bottom: 40px;
  color: $w-color ;
}

@mixin tweetstyle() {
  font-size: 14px;
  margin-top: 10px;
  float:left;
  clear: both;
  padding-left: 40px;
}

@mixin second-box() {
  height: 130px;
  padding-top: 40px;
}

@mixin namestyle() {
  font-size: 16px;
  padding-left: 40px;
  float: left;
}

@mixin datestyle() {
  padding-left: 10px;
  font-size: 12px;
  color: #999999;
  float: left;
}

@mixin tweetstyle() {
  font-size: 14px;
  margin-top: 10px;
  float:left;
  clear: both;
  padding-left: 40px;
}
